# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/
.eggs/

# Django
db.sqlite3
*.log

# Environment
.env
venv/
ENV/
env/
.venv/

# VSCode
.vscode/

# macOS
.DS_Store

# Pytest
.cache/
.pytest_cache/

# Migrations (optional to ignore if you don’t want to track them right away)
**/migrations/*.pyc
**/migrations/__pycache__/
